.modal {
  &__button {
      background-color: $button-background;
      display: block;
      width: 60%;
      padding: 10px 20px;
      margin: 0px auto 20px auto;
      border: 3px solid $button-background;
      font-size: 28px;
      font-weight: bold;
      color: $text-and-borders;

      &:hover {
          background-color: $button-background;
          border-color: transparent;
          color: $text-and-borders
      }

      &:focus {
          border-color: transparent;
      }
  }

  &__dialog-content {
      border: 2px solid $text-and-borders;
      background-color: $main-background;
  }

  &__body {
      margin: 5px;
  }

  &__title {
      font-family: $title-font;
  }

  &__close-button {
      background-color: rgb(253, 144, 144);
      border-color: transparent;
      font-weight: bold;

      &:hover {
          background-color: red;
          border-color: red;
      }
  }
}

.modal-backdrop {
 min-width: 100vw;
}