.navList {
    &__base {
        padding: 0px;
        justify-content: end;
        gap: $basesize;
    }

    &__item {
        background-color: rgba(255, 255, 255, 0.171);
        text-align: center;
        padding: $basesize;
        transition: background-color 0.15s ease-in-out;

        &:hover {
            background-color: transparent;
        }
    }

    &__link {
        font-size: 18px;
        font-weight: lighter;
        color: $main-background;
        text-decoration: none;
        font-family: $title-font;

        &:hover {
            color: $main-background;
            text-decoration: none;
        }
    }
}
