.socialMediaList {
    &__list {
        list-style-type: none;
        text-align: center;
        display: flex;
        gap: $basesize;
        justify-content: end;
    }

    &__item {
        display: inline-block;
    }

    &__link {
    }

    &__image {
        width: 30px;
        height: 30px;
        margin: 0px 10px;
        filter: invert(1);
        transition: filter 0.15s ease-in-out;

        &:hover {
            filter: invert(0.5);
        }
    }
}
