.summary {
  &__base {
      background-color: transparent;
  }

  &__container {
      padding: 5px;

  }

  &__title {
      font-family: $title-font;
        font-size: 32px;
        line-height: 36px;
  }

  &__text {
      font-family: $text-font;
      font-size: 18px;
      line-height: 24px;
  }
}