<div class="nav-container roundContainer footer__base">
  <footer class="container footer__container">
    <div class="row">
      <div class="col footer__navigation_base">
        <ul class="list-unstyled text-center footer__navigation-list">
          <li class="footer__list-item">
            <a class="footer-link footer__link" href="index.html">Home</a>
          </li>
          <li>
            <a class="footer-link footer__link" href="calendar.html">Calendar</a>
          </li>
          <li>
            <a class="footer-link footer__link" href="summary.html">Summary</a>
          </li>
          <li>
            <a class="footer-link footer__link" href="news.html">News</a>
          </li>
          <li>
            <a class="footer-link footer__link" href="register.html">Register</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-md-4">
            <a href="http://twitter.com/?lang=en" target="_blank" rel="noopener noreferrer">
              <img class="img-fluid socialMediaLogo navBar__social-media-image" src="./public/icons/twitterLogo.png"
                alt="twitter logo" />
            </a>
          </div>
          <div class="col-md-4">
            <a href="http://www.instagram.com/" target="_blank" rel="noopener noreferrer">
              <img src="./public/icons/instagramLogo.png" alt="instagram logo"
                class="img-fluid socialMediaLogo navBar__social-media-image" />
            </a>
          </div>
          <div class=" col-md-4">
            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
              <img src="./public/icons/facebookLogo.png" alt="facebook logo"
                class="img-fluid socialMediaLogo navBar__social-media-image" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <a href="https://boston.cbslocal.com/category/news/local/" target="_blank" rel="noopener noreferrer">
              <img src="./public/icons/CBSBoston.png" alt="cbsBoston news link"
                class="img-fluid boston footer__administration" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <a href="https://www.boston.gov/parks/public-garden" target="_blank" rel="noopener noreferrer">
              <img src="./public/icons/cityOfBoston.svg" alt="boston gardens administration link"
                class="img-fluid boston footer__administration" />
            </a>
          </div>
        </div>
      </div>
      <address class="col contactInfo footer__contact">
        <h5>Contact</h5>
        <a class="address__mail" href="mailto:claradunn@watchout.com">claradunn@watchout.com</a><br>
        <a class="address__tel" href="tel:+13115552368">(311) 555-2368</a>
      </address>
    </div>
  </footer>
</div>