.footer {
  &__base {
      background-image: $gradient;
      padding-top: 20px;
      color: $main-background;
  }

  &__navigation_base {
      color: $main-background;
  }

  &__container {
      background-color: transparent;
  }

  &__navigation-list {
      margin-top: 10%;
      margin-bottom: 10%;
      color: $main-background;

      &--links {
        > * + * {
          margin-top: 10px;
        }
      }
      &--icons {
        display: flex;
      }
  }

  &__list-item {
      color: $main-background;
      text-align: left;
  }

  &__link {
      color: $text-and-borders;
      font-size: 15px;
      font-family: $title-font;
      color: $main-background;

      &:hover {
          text-decoration: none;
          color: $main-background;
      }
  }

  &__administration {
      min-width: 100px;
      filter: invert(1);
  }

  &__contact {
      color: $main-background;

      > * + * {
            margin-top: 10px;
            display: block;
      }
  }

  &__heading {
        font-size: 23px;
        line-height: 28px;
        font-weight: bold;
        font-family: $title-font;
        color: $main-background;
  }

  &__contact-link {
        color: $main-background;
        font-size: 17px;
        line-height: 21px;
        font-family: $title-font;
        color: $main-background;
    
        &:hover {
            text-decoration: none;
            color: $main-background;
        }
  }
}