<div class="carousel-item {{#if active}} active {{/if}}">
  <img src="{{ imageSrc }}" alt="{{ imageAltText }}" class="d-block m-auto carousel__image" />
  <div class="carousel-caption d-none d-md-block carousel__caption-box">
    <h5>{{ itemHeading}}</h5>
    <p>{{ itemDescription }}</p>
    <a class="btn btn-primary my-2 carousel__button" role="button" href="news.html">Read
      More >></a>
  </div>
</div>