// colors
$main-background: rgb(241, 241, 241);
$component-background: rgb(164, 195, 211);
$text-and-borders: #544A54;
$button-background: rgb(133, 204, 126);
$structure-background:rgb(211, 255, 229);
$structure-text: #b4b5bd;
$gradient: linear-gradient(to bottom right, rgb(39, 39, 39), rgb(1, 56, 119));
$trailer-button: linear-gradient(to bottom right, rgb(223, 223, 223), rgb(189, 189, 189));

// fonts
$title-font: 'Roboto Slab', serif;
$text-font: 'Noto Serif JP', serif;

// breakpoints
$tablet: 991px;