{{#> ../core/templates/generic }}
    <body data-bs-theme="light">
        <link rel="stylesheet" href="./styles/index.css">
        <script src="./scripts/index.js" async defer></script>
        {{> ../core/fragments/components/summary}}
        {{> ../core/fragments/components/news-carousel/index}}
        {{> ../core/fragments/components/calendar}}
        {{> ../core/fragments/components/modal/index}}
    </body>
{{/ ../core/templates/generic}}