{{#> ../core/templates/generic }}

    <body data-bs-theme="light">
        <link rel="stylesheet" href="./styles/index.css">
        <script src="./scripts/index.js" async defer></script>




        <!-- START Summary -->
        <section class="container-fluid bgLight my-3 px-5 summary__base">
            <div class="container summary__container">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="summary__title">Summary</h2>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="summary__text">
                                <strong>Watch It Outside Events Co.</strong> is an organization
                                founded by Clara Dunn committed to the growth of independent
                                artists and to show that films can appeal to audiences of all
                                ages.
                            </p>
                            <p class="summary__text">
                                <strong>Watch It Outside - Boston Edition 2023</strong> is the
                                first edition of an annal film festival organized by
                                <strong>Watch It Outside Events Co.</strong>
                            </p>
                            <p class="summary__text">
                                It takes place each August in
                                <strong>Boston Public Garden</strong> and it includes
                                competitive categories, includes documentary and dramatic films,
                                both feature length and short films, in which awards are given,
                                as well as out-of-competition categories for showcasing new
                                films.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Summary -->

        {{> ../core/fragments/components/modal/index}}

    </body>
    {{/ ../core/templates/generic}}