    <div class="container-fluid roundContainer bgLight mb-3 pb-3 calendarFix calendar__base">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h3 class="calendar__title">Calendar</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-3 py-2">
                    <div class="card text-center calendar__card">
                        <a href="calendar.html" class="btn">
                            <div class="card-header">
                                <h3 class="calendar__card-title">5th of August</h3>
                            </div>
                        </a>
                        <div class="card-body calendar__card-body">
                            <div class="card-text">
                                18.00h
                                <a class="calendarLink btn" href="calendar.html">Uncut Gems</a><br />
                                20.00h
                                <a class="calendarLink btn" href="calendar.html">Clemency</a><br />
                                22.00h
                                <a class="calendarLink btn" href="calendar.html">Chinatown</a><br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-md-3 py-2">
                    <div class="card text-center calendar__card">
                        <a href="calendar.html" class="btn">
                            <div class="card-header">
                                <h3 class="calendar__card-title" >6th of August</h3>
                            </div>
                        </a>
                        <div class="card-body calendar__card-body">
                            <div class="card-text">
                                18.00h
                                <a class="calendarLink btn" href="calendar.html">The Kid Stays in the Picture</a><br />
                                20.00h
                                <a class="calendarLink btn" href="calendar.html">Knives Out</a><br />
                                22.00h
                                <a class="calendarLink btn" href="calendar.html">Babytooth</a><br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-md-3 py-2">
                    <div class="card text-center calendar__card">
                        <a href="calendar.html" class="btn">
                            <div class="card-header">
                                <h3 class="calendar__card-title" >7th of August</h3>
                            </div>
                        </a>
                        <div class="card-body calendar__card-body">
                            <div class="card-text">
                                18.00h
                                <a class="calendarLink btn" href="calendar.html">Portrait of a Lady on Fire</a><br />
                                20.00h
                                <a class="calendarLink btn" href="calendar.html">Joker</a><br />
                                22.00h
                                <a class="calendarLink btn" href="calendar.html">The Godfather</a><br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-md-3 py-2">
                    <div class="card text-center calendar__card">
                        <a href="calendar.html" class="btn">
                            <div class="card-header">
                                <h3 class="calendar__card-title">8th of August</h3>
                            </div>
                        </a>
                        <div class="card-body calendar__card-body">

                            <div class="card-text">
                                18.00
                                <a class="calendarLink btn" href="calendar.html">Mickey and the Bear</a><br />
                                20.00
                                <a class="calendarLink btn" href="calendar.html">Parasite</a><br />
                                22.00
                                <a class="calendarLink btn" href="calendar.html">Doctor Sleep</a><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>