<div class="jumbotron jumbotron-fluid bgLight my-3 clock__base ">
  <div class="container text-center clock__quote ">
    <h2 class="clock__text">"entertainment for all ages"</h2>
  </div>
  <div class="container text-center clock__container ">
    <ul class="clock__numbers">
      <li class="clock__item"><span class="clock__item--jsContainer" id="days"></span>days</li>
      <li class="clock__item"><span class="clock__item--jsContainer" id="hours"></span>hours</li>
      <li class="clock__item"><span class="clock__item--jsContainer" id="minutes"></span>minutes</li>
      <li class="clock__item"><span class="clock__item--jsContainer" id="seconds"></span>seconds</li>
    </ul>
  </div>
</div>