<h1 class="navBrand__base col navbar-brand">
  <a class="navBrand__link" href="index.html">
    <span class="navBrand__main">Watch It Outside</span>
    <span class="navBrand__submain">Boston Film Festival</span>
  </a>
</h1>