<nav class="navBar__base navbar navbar-expand-lg navbar-dark">
  <div class="navBar__container container-fluid">
    {{> navBrand}}
    {{> navToggle}}
    <div class="navBar__list-container collapse navbar-collapse" id="navbarNav">
      {{> navList}}
      {{> socialMediaList}}
    </div>
  </div>
</nav>