<ul class="navList__base col navbar-nav">
  <li class="navList__item nav-item">
    <a class="navList__link nav-link" href="index.html">Home</a>
  </li>
  <li class="navList__item nav-item">
    <a class="navList__link nav-link" href="calendar.html">Calendar</a>
  </li>
  <li class="navList__item nav-item">
    <a class="navList__link nav-link" href="summary.html">Summary</a>
  </li>
    <li class="navList__item nav-item">
    <a class="navList__link nav-link" href="news.html">News</a>
  </li>
    <li class="navList__item nav-item">
    <a class="navList__link nav-link" href="register.html">Register</a>
  </li>
</ul>