          <ul class="socialMediaList__list">
            <li class="socialMediaList__item">
              <a class="socialMediaList__link" href="http://twitter.com/?lang=en" target="_blank"
                rel="noopener noreferrer">
                <img class="img-fluid socialMediaLogo socialMediaList__image" src="./public/icons/twitterLogo.png"
                  alt="twitter link" /></a>
            </li>
            <li class="socialMediaList__item">
              <a class="socialMediaList__link" href="http://www.instagram.com/" target="_blank"
                rel="noopener noreferrer">
                <img class="img-fluid socialMediaLogo socialMediaList__image"
                  src="./public/icons/instagramLogo.png" alt="instagram link" />
              </a>
            </li>
            <li class="socialMediaList__item">
              <a class="socialMediaList__link" href="https://www.facebook.com/" target="_blank"
                rel="noopener noreferrer">
                <img class="img-fluid socialMediaLogo socialMediaList__image" src="./public/icons/facebookLogo.png"
                  alt="facebook link" />
              </a>
            </li>
          </ul>